/* elements */

html, body {
  height: 100%;
	padding: 0px;
	margin: 0px;
}
body {
  background-color:#3B3F41;
  color:#DACA98;
  font-family:monospace;
}
a {
  color:#DACA98;
}

/* by id */

#footer {
  position:absolute;
  bottom:0px;
  right:10px;
}

/* table.grid */

table.grid {
  position:absolute;
  top:0px;
  left:0px;
  font-family:monospace;
  font-size:9pt;
  color:#999;
  margin-left:600px;
}
table.grid td,
table.grid th {
  padding: 5px;
  vertical-align:top;
  text-align:left;
}
table.grid td.c1 {
  width: 70px;
}
table.grid td.c2 {
  width: 25%;
}
table.grid td.c4 {
  width: 40px;
}
table.grid textarea,
table.grid input {
  background-color:inherit;
  width:100%;
  border:none;
  outline:none;
  font-family:monospace;
  font-size:9pt;
  color:#999;
  vertical-align:top;
}
table.grid textarea {
  height:60px;
}
table.grid tr.editing {
  background-color:#AAA;
}
table.grid tr.editing td,
table.grid tr.editing textarea,
table.grid tr.editing input {
  color:black;
}
