/* elements */

html, body {
  height: 100%;
	padding: 0px;
	margin: 0px;
}
body {
  background-color:#3B3F41;
  color:#DACA98;
  min-height:540px;
  font-family:monospace;
}
a {
  color:#DACA98;
}
canvas {
  z-index:100;
  position:absolute;
}
input {
  background-color:inherit;
  border:0;
}

/* by id */

#footer {
}
#commands {
  display:none;
}
#leftBackground {
  z-index:1;
  position:absolute;
  width:540px;
  top:0px;
  bottom:0px;
  background-color:black;
}

/* table.grid */

table.grid {
  position:absolute;
  top:0px;
  left:0px;
  font-family:monospace;
  font-size:9pt;
  color:#999;
  margin-left:540px;
}
table.grid tr {
  background-color:#333333;
}
table.grid td,
table.grid th {
  padding: 5px;
  vertical-align:top;
  text-align:left;
}
table.grid tr.editing {
  background-color:#AAA;
}
table.grid tr.editing td {
  color:black;
}

/* other */
