/* elements */
html, body {
  height: 100%;
	padding: 0px;
	margin: 0px;
  overflow: hidden;
}
body {
  background-color:#3B3F41;
  color:#DACA98;
  min-height:540px;
  font-family:monospace;
}
a {
  color:#DACA98;
}
canvas {
  z-index:100;
  position:absolute;
  min-width: 540px;
}
input {
  background-color: #666;
  color: #DDD;
  border-color: #AAA;
  border-radius: 4px;
}

/* by id */

#leftBackground {
  z-index:1;
  position:absolute;
  width:540px;
  top:0px;
  bottom:0px;
  background-color:black;
}

#right_column {
  position:absolute;
  top:0px;
  left:540px;
  height:100%;
  width:calc(100% - 540px);
  border-spacing:2px;
}


#row_menu {
  height:20px;
}
#row_grid {
  display:block;
  overflow:auto;
  height: calc(100% - 140px);
}
#row_chatView {
  padding: 5px;
  background-color:#333333;
  margin:1px 2px 0px 0px;
  vertical-align: bottom;
  overflow-y: auto;
  display:block;
  height:100px;
}
#row_chatBox {
  padding: 5px;
  background-color:#333333;
  margin:1px 2px 0px 2px;
  height:20px;
}

/* table.grid */

#grid {
  border-collapse: separate;
  border-spacing:1px;
  font-family:monospace;
  font-size:9pt;
  color:#999;
  width:100%;
}
#grid tr {
  background-color:#333333;
  border: 1px solid #3B3F41;
}
#grid tr:first-child {
  border-top: none;
}
#grid tr:last-child {
  border-bottom: none;
}
#grid tr.disabled td {
  opacity:0.3;
}
#grid td {
  background-color:#333333;
  border: 0px solid #DACA98;
  transition: background-color 0.5s;
  padding: 5px;
  vertical-align:top;
  text-align:left;
  min-width: 30px;
  max-width: 400px;
}
#grid td p {
  /* mac contenteditable fix */
  margin: 0px;
}
#grid td.target {
  background-color: #444444;
}
#grid td.flash {
  background-color: #888;
  transition: background-color 0s;
}
#grid td.modifiedRemotely {
  border-color: #FF7C00;
}
#grid td.modifiedByMe {
  border-style: dashed;
}
#grid td.crashed {
  background-image: url(/bug.gif);
}

#thead {
  background-color:#999 !important;
  color:black;
}

#grid tr.editing td {
  border-color:black;
}
tr.editing td {
  background-color:#AAA !important;
  transition: background-color 0.5s;
  opacity:1.0 !important;
  color:black;
}

span.chatFromOther {
  color: #666;
}
span.chatFromOther b {
  color: #99C23D;
  font-weight: normal;
}

span.chatFromServer {
  color: #666;
}
span.chatFromServer b {
  color: #D74665;
  font-weight: normal;
}

span.chatFromSelf {
  color: #666;
}
span.chatFromSelf b {
  color: #888;
  font-weight: normal;
}
.CodeMirror {
  height: auto;
  margin-bottom: 2px;
  font-size: 125%;
}
.CodeMirror-activeline-background {
  background-color: #444 !important;
}
